<%= form_for @current_user do |f| %>

<div class="form">
	<%= f.label :image, class: "small-12 columns" %>
	<%= f.file_field :image %>
</div>


<%= f.fields_for @current_profile do |p| %>
<div class="form">
	<%= p.label :bio, class: "small-12 columns" %>
	<%= p.text_field :bio %>
</div>
<% end %>

<div class="actions">
	<%= f.submit "Update", class: "custom-button" %>
</div>

<% end %>
